// app global css in SCSS form
.login-form{
    width: 100%;
    height: 100vh;
}

.background {
    background-image: url('/images/bg.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

.text-weight-semi-bold {
    font-weight: 600;
}

.d-flex {
    display: flex;
}

.text-weight-medium {
    font-weight: 500;
}

.q-field--outlined .q-field__control::after {
    border: 2px solid #E5E5E5;
}

.font-12 {
    font-size: 12pt;
}

label {
    font-size: 12pt;
    font-weight: 600;
    color: #000000;
}

.round-10 {
    border-radius: 10px !important;
}

.recovery-card {
    width: 600px;
}

.custom-aside {
    height: calc(100vh - 35px);
    border-radius: 50px;
    width: 80px;
    position: relative;
}

.custom-aside .absolute-bottom {
    bottom: 20px
}

.modal-card {
    max-width: 620px !important;
}

label {
    color: #000000;
    font-size: 12pt;
}

// media queries
@media (max-width: 900px) {
    .mobile-overflow {
        background-color: rgba(0, 0, 0, 0.144);
    }

    .background {
        background-image: none;
    }

    .modal-card {
        width: 100%;
    }
}